{{#if startDate}}
    <div class='duration'>
        {{#if endDate}}
            {{{duration startDate endDate}}}
        {{else}}{{{duration startDate "Present&nbsp;"}}}
        {{/if}}
    </div>
{{/if}}